@font-face {
    font-family: "Raleway";
    src: url("./font/Raleway-VariableFont_wght.ttf")
}

@font-face {
    font-family: "Poppins Bold";
    src: url("./font/Poppins-Bold.ttf")
}

@keyframes blink {
    0% { background-color: white; }
    49% { background-color: white; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { background-color: white; }
}

@keyframes slideBottom {
    0% {
        top: 84%;
    }
    50% {
        top: 84%;
    }
    100% {
        top: 96%;
    }
}
@keyframes slideTop {
    0% {
        top: 14%;
    }
    50% {
        top: 14%;
    }
    100% {
        top: 0%;
    }
}

@keyframes appear {
    0% {
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 991.98px) {
    div#headerbox {
        display:table-cell!important;
        vertical-align: middle!important;
        left: 0!important;
        top:0!important;
        position:relative!important;
    }
    img#photo {
        margin-left: 0!important;
        display: none!important;
    }
    div#top-page {
        width: 100%!important;
    }
}

:root {
    --main-color: #ff565b;
    --main-filter: invert(74%) sepia(76%) saturate(5356%) hue-rotate(323deg) brightness(99%) contrast(121%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway";
    background-color: #2e2d34;
    color: var(--main-color);
    width:90%;
}

a#name {
    font-family: "Poppins Bold";
    text-decoration: none;
    color: var(--main-color)
}

div#photo-div {
    display:flex;
    justify-content: center;
    align-items: center;
    height:500px;
}

img#photo {
    position: absolute;
    top: 13%;
    left: 60%;
    animation: appear 3s ease;
    width: 30%;
}

div#top-page {
    display: table;
    height: 93vh;
    width: 80%;
}

hr#bottom-hr {
    position: absolute;
    top: 95%;
    width: inherit;
    height: 3px;
    border: none;
    background: white;
    animation: slideBottom 1.5s ease-in forwards;
}

hr#top-hr {
    position: absolute;
    top: 0%;
    width: inherit;
    height: 3px;
    border: none;
    background: white;
    animation: slideTop 1.5s ease-in forwards;
}

h1#hellotext {
    animation: appear 3s ease;
    margin-left: 40px;
    font-family: "Poppins Bold";
    font-size: 44px;
}

span#cursor {
    width: 4px;
    height: 50px;
    margin-left: 0.1rem;
    animation: blink 1.5s infinite;
}

h5#caption {
    animation: appear 3s ease;
    margin-left: 40px;
    color:white;
    padding-bottom: 20px;
    width:90%;
    font-size: 28px;
}

div#headerbox {
    position:absolute;
    left: 10%;
    top: 40%;
}

div.section {
    margin-bottom: 40px;
}

hr {
    height: 2px;
    border: none;
    background: white;
}

p.before-header {
    text-align:center;
    font-family: 'Poppins Bold';
    text-transform: uppercase;
    margin-bottom: 0px;
}

h2.center-header {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Poppins Bold";
    text-transform: uppercase;
    text-shadow: 6px 4px #46454F;
}

p.para {
    color:white;
    font-size:22px;
    padding-bottom: 5px;
}

a#projects-button {
    color: white;
    background-color: var(--main-color);
    border-radius: 7.5px;
    padding:10px 15px;
    border: none;
    text-decoration: none;
    font-size: 18px;
    width: fit-content;
}

a#projects-button:hover {
    background-color: white;
    color: var(--main-color);
    transition: all 0.5s ease-in-out;
}

.social-icon {
    filter: invert(100%);
    width: 36px!important;
    height: 36px!important;
}

.social-icon:hover {
    filter: var(--main-filter);
    transform: translateY(-5px) scale(1.03) translateZ(0);
}

footer {
    border-top: white 2px solid;
}

p#footer-para {
    margin: 5px;
    text-align: center;
    color:white;
}

.card {
    background-color: #46454F;
    text-align: center;
    height: 100%;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade {
    opacity: 0;
    transform: translate(0,8vh);
    transition: all 0.5s;
}
  
.fade.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.card.fixed {
    height: 160px;
}
  
.card:hover {
    transform: translateY(-5px) scale(1.05) translateZ(0);
    box-shadow: 5px 8px;
    transition: all 0.35s ease-in;
}
  
.card-title {
    color: var(--main-color);
    font-family: "Poppins Bold";
    font-size: 26px;
}

.card-subtitle {
    font-family: "Poppins Bold";
    font-weight: bold;
    color: white;
    border: 2px white solid;
    border-radius: 7.5px;
    width: fit-content;
    padding: 1px 3px;
    margin-top: 3px;
}

.card-text {
    color:white;
    font-size: 18px;
    padding: 0 10px;
    height: 100%;  
    width:fit-content; 
}

.card-img-top {
    padding: 10px 10px;
}

.card-hr {
    width: 80%;
}

.card-link-img {
    width: 24px!important;
    filter: invert(100%);
}

.card-link {
    color:white;
    text-decoration: none;
    font-size: 16px;
    border: 2px white solid;
    border-radius: 7.5px;
    width: fit-content;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
}

.card-link:hover {
    background-color: #212529;
    transition: all 0.5s ease-in-out;
}

.skills-img {
    width: 64px;
    height: 64px;
    filter: var(--main-filter)
}   

div#skills {
    margin-top: 20px;
    margin-bottom: 40px;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--main-color);
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in;
    -webkit-transition: width 0.3s ease-in;
}

.nav-link:hover::before {
    width: 100%;
}